crigtt-web/src/main/wadl/crigtt-validate.wadl

<?xml version="1.0" encoding="UTF-8"?>
<wadl:application
    xmlns:validate="urn:gov.hhs.onc.crigtt:validate"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <!--====================================================================================================
    = GRAMMARS
    =====================================================================================================-->
    <wadl:grammars>
        <wadl:include href="../schema/crigtt/crigtt-validate.xsd"/>
    </wadl:grammars>
    
    <!--====================================================================================================
    = RESOURCES
    =====================================================================================================-->
    <wadl:resources base="/">
        <wadl:resource id="validator" path="/validator">
            <wadl:method id="validate" name="POST">
                <wadl:request>
                    <wadl:representation mediaType="multipart/form-data">
                        <wadl:param id="format" name="format" style="query" type="xsd:boolean" default="true"/>
                        <wadl:param id="timeZone" name="timeZone" style="query" type="xsd:string"/>
                    </wadl:representation>
                </wadl:request>
                <wadl:response status="200">
                    <wadl:representation mediaType="application/json" element="validate:report"/>
                    <wadl:representation mediaType="text/html" element="validate:report"/>
                    <wadl:representation mediaType="text/xml" element="validate:report"/>
                </wadl:response>
                <wadl:response>
                    <wadl:representation mediaType="application/json" element="validate:error"/>
                    <wadl:representation mediaType="text/html" element="validate:error"/>
                    <wadl:representation mediaType="text/xml" element="validate:error"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>
    </wadl:resources>
</wadl:application>